body{
    background-color: darkcyan;
    color: black;
    font-family: 'Itim', cursive;
    font-size: 19px;
}

h1{
    font-size: 25px;
    font-family: 'Londrina Solid', cursive;
}
h3{
    font-size: 29px;
    font-family: 'Londrina Solid', cursive;
}
button {
    background-color: green;
    border: none;
    font-family: 'Londrina Solid', cursive;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}